@tailwind base;
@tailwind components;
@tailwind utilities;



/* Entire scrollbar */
::-webkit-scrollbar {
  width: 5px;
  /* Width of the vertical scrollbar */
  height: 20px;
  /* Height of the horizontal scrollbar */
  border-radius: 0.5rem;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #464545;
  /* Color of the track */
}

/* Handle or the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #ffcc00;
  /* Color of the handle */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the handle when hovered */
}


.each-slide-effect>div {
   
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-size: cover;
  height: 100vh;
  
  
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}



.react-slideshow-container .nav:first-of-type {
  left: 90px !important
}

.react-slideshow-container .default-nav:last-of-type {
  right: 90px !important
}